@charset "UTF-8";
/*
ESTO ARTICULA PARA PROPIEDADES COMO MARGIN-PADDING

        |TOP-RIGHT-BOTTOM-LEFT|
margin: 10px 15px 20px 25px;

        |T-R-B-L|
margin: 20px;

        |T-B / L-R|
margin: 20px 10px;

        |T-L-R  - B|
margin: 10px 10px 20px

-----------------------------------

margin-top:;
margin-bottom:;
margin-left:;
margin-right:;
    */
/*ESTILOS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Roboto;
}

#body {
  max-width: 100%;
}

#header {
  max-width: 100%;
}

#navbarNavAltMarkup {
  justify-content: center;
}

.navbar {
  background-color: wheat;
  height: auto;
  max-width: 100%;
}

.logoHeader {
  width: 80px;
}

.nav-link {
  display: flex;
  justify-content: center;
}

.container-fluid {
  max-width: 100%;
}

/*ESTILO MAIN*/
#main {
  display: flex;
  flex-direction: column;
}

#main h2 {
  text-align: center;
}

.articleNoti1 {
  display: flex;
}

.imgNoti1 {
  width: 600px;
}

.pieFoto {
  background-color: black;
  color: bisque;
  font-size: 15px;
  max-width: 10px;
}

.subTitleNoti1 {
  color: bisque;
  background-color: black;
  max-width: 1000px;
}

.parrafoNoti1 {
  font-size: 22px;
}

/* ESTILO NOTI 2 INDEX0 */
#main h2 {
  text-align: center;
}

.articleNoti2 {
  display: flex;
}

.imgNoti2 {
  width: 600px;
}

.pieFoto {
  background-color: black;
  color: bisque;
  font-size: 15px;
  max-width: 600px;
}

.subTitleNoti2 {
  color: bisque;
  background-color: black;
  max-width: 1300px;
}

.parrafoNoti2 {
  font-size: 22px;
}

/* ESTILO NOTI 3 INDEX */
#main h2 {
  text-align: center;
}

.articleNoti3 {
  display: flex;
}

.imgNoti3 {
  width: 600px;
}

.pieFoto {
  background-color: black;
  color: bisque;
  font-size: 15px;
  max-width: 600px;
}

.subTitleNoti3 {
  color: bisque;
  background-color: black;
  max-width: 1000px;
}

.parrafoNoti3 {
  font-size: 22px;
}

/* ESTILO MAIN PAG AUTOMOVILISMO */
#mainAuto {
  max-width: auto;
  margin: 0;
  padding-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banerFrancoF1 {
  width: 1400px;
  height: 500px;
}

.imgActc {
  width: 900px;
}

.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}

/* ESTILO PAG BASQUET */
#mainBasquet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: whitesmoke;
}

.noti1Basquet {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  background-color: whitesmoke;
}

.card-text {
  font-size: 20px;
}

.noti2Basquet {
  display: flex;
  justify-content: space-around;
}

/* ESTILO PAG TENIS noti 1 */
#main h2 {
  text-align: center;
}

.articleNoti1Tenis {
  display: flex;
}

.imgNoti1Tenis {
  width: 600px;
}

.pieFoto {
  background-color: black;
  color: bisque;
  font-size: 15px;
  max-width: 900px;
}

.subTitleNoti1Tenis {
  color: bisque;
  background-color: black;
  max-width: 1750px;
}

.parrafoNoti1Tenis {
  font-size: 22px;
}

/* NOTICIA 2 TENIS  */
.articleNoti2Tenis {
  display: flex;
}

#imgNoti2Tenis {
  width: 1700px;
}

.pieFoto {
  background-color: black;
  color: bisque;
  font-size: 15px;
  max-width: 900px;
}

.subTitleNoti2Tenis {
  color: bisque;
  background-color: black;
  max-width: 1950px;
}

.parrafoNoti2Tenis {
  font-size: 22px;
}

/* ESTILO PAG FUTBOL */
#mainFutbol {
  max-width: 100%;
  margin: 0;
  padding-top: 1px;
  display: grid;
  grid-template-columns: 800px 800px 800px;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 70px; /*espacio entre columnas*/
  row-gap: 10px; /*espacio entre filas*/
  grid-template-areas: "section1    section2  section3 " "section4    section5  section6 " "section7    section8  section9 ";
}

.imagenSectionGrid {
  width: 800px;
}

.imagenSectionGrid1 {
  width: 800px;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2Tigre {
  text-decoration: none;
  color: black;
}

/* ESTILO FOOTER (GENERICO)*/
#footer {
  max-width: cover;
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
}

.footerLogo {
  width: 200px;
}

.footerNavCopy h2 {
  font-size: 10px;
  text-decoration: black;
}

.footerNav ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.footerRedes {
  display: flex;
  column-gap: 20px;
}

.footerRedes i {
  font-size: 30px;
}

/*LLAMADO A MEDIA QUERIES*/
@media (max-width: 1100px) {
  #mainFutbol {
    grid-template-areas: "section1" "section2" "section3" "section4" "section5" "section6" "section7" "section8" "section9";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
  #mainFutbol .section1 {
    display: flex;
    align-items: center;
  }
}
/* RESPONSIVE PAG AUTOMOVILISMO */
@media (max-width: 750px) {
  #mainAuto {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
/* RESPONSIVE PAG INDEX */
@media (max-width: 1500px) {
  #main {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .articleNoti1 {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .articleNoti2 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .articleNoti3 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .sectionNotiInicio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}
/* RESOINSIVE BASQUET */
@media (max-width: 950px) {
  #mainBasquet {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1300px) {
  .noti1Basquet {
    flex-wrap: wrap;
    align-items: center;
  }
  .noti2Basquet {
    flex-wrap: wrap;
    align-items: center;
  }
  .section2Basquet {
    flex-wrap: wrap;
    align-items: center;
  }
  .section1Basquet {
    flex-wrap: wrap;
    align-items: center;
  }
}
/* RESPONSIVE TENIS */
/* Estilos para telas menores que 480px (celulares) */
@media (min-width: 200px) and (max-width: 1450px) {
  .articleNoti1Tenis {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 90%; /* Ancho máximo del 90% en móviles */
  }
  .articleNoti2Tenis {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 90%; /* Ancho máximo del 90% en móviles */
  }
}
.imgNoti1Tenis {
  animation-name: flip-horizontal-top;
  animation-duration: 1s;
}

@keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

/*# sourceMappingURL=style.css.map */
