/* ESTILO FOOTER (GENERICO)*/
#footer {
    max-width: cover;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;

}

.footerLogo {
    width: 200px;
}

.footerNavCopy h2 {
    font-size: 10px;
    text-decoration: black;
}

.footerNav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    
}

.footerRedes {
    display: flex;
    column-gap: 20px;
}

.footerRedes i {
    font-size: 30px;
}