/* ESTILO PAG TENIS noti 1 */
#main h2 {
    text-align: center;
}

.articleNoti1Tenis {
    display: flex;

}
.imgNoti1Tenis {
    width: 600px;
}

.pieFoto {
    background-color: black;
    color: bisque;
    font-size: 15px;
    max-width: 900px;
}

.subTitleNoti1Tenis {
    color: bisque;
    background-color: black;
    max-width: 1750px;
}

.parrafoNoti1Tenis {
    font-size: 22px;
}

/* NOTICIA 2 TENIS  */
.articleNoti2Tenis {
    display: flex;

}
#imgNoti2Tenis {
    width: 1700px;
}

.pieFoto {
    background-color: black;
    color: bisque;
    font-size: 15px;
    max-width: 900px;
}

.subTitleNoti2Tenis {
    color: bisque;
    background-color: black;
    max-width: 1950px;
}

.parrafoNoti2Tenis {
    font-size: 22px;
}