/*LLAMADO A MEDIA QUERIES*/
@media (min-width: 200px) and  (max-width: 480px){
    #mainFutbol {
        grid-template-areas: 
        "section1" 
        "section2" 
        "section3"
        "section4" 
        "section5"
        "section6" 
        "section7"
        "section8" 
        "section9";
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(9,1fr);
        max-width: 90%; /* Ancho máximo del 90% en móviles */
        .section1 {
            display: flex;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }
        .section2 {
            display: flex;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }
        .section3 {
            display: flex;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }
        .section4 {
            display: flex;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }
        .section5 {
            display: flex;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }
        .section6 {
            display: flex;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }
    }
    }
/* RESPONSIVE PAG AUTOMOVILISMO */
@media (min-width: 300px) and (max-width: 480px) {
    #mainAuto {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: 90%; /* Ancho máximo del 90% en móviles */
    }
    }

/* RESPONSIVE PAG INDEX */
/* Estilos para telas menores que 480px (celulares) */
    @media (min-width: 300px) and (max-width: 480px) {
        #main {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }

        .articleNoti1 {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }

        .articleNoti2 {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }

        .articleNoti3 {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }

        .sectionNotiInicio {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */
        }
        }

        /* RESOINSIVE BASQUET */
/* Estilos para telas menores que 480px (celulares) */
        @media (min-width: 200px) and  (max-width: 480px) {
            #mainBasquet {
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                max-width: 90%; /* Ancho máximo del 90% en móviles */
            }

            
        }
/* Estilos para telas menores que 480px (celulares) */
        @media (min-width: 200px) and  (max-width: 480px) {
            .noti1Basquet {
                flex-wrap: wrap;
            align-items: center;
            max-width: 90%; /* Ancho máximo del 90% en móviles */}
            
                
            .noti2Basquet {
                flex-wrap: wrap;
                align-items: center;
                max-width: 90%; /* Ancho máximo del 90% en móviles */
            }
            .section2Basquet {
                flex-wrap: wrap;
                align-items: center;
                max-width: 90%; /* Ancho máximo del 90% en móviles */
            }
            .section1Basquet {
                flex-wrap: wrap;
                align-items: center;
                max-width: 90%; /* Ancho máximo del 90% en móviles */
            }
        }



        /* RESPONSIVE TENIS */

/* Estilos para telas menores que 480px (celulares) */
@media (min-width: 200px) and (max-width: 480px) {


    .articleNoti1Tenis {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: 90%; /* Ancho máximo del 90% en móviles */

    }
    .articleNoti2Tenis {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: 90%; /* Ancho máximo del 90% en móviles */
    }

    .imgNoti1Tenis {
        min-width: none;
        max-width: 100%;
    }
}


// RESPONSIVE FOOTER 
/* Estilos para telas menores que 480px (celulares) */

@media (min-width: 300px) and (max-width: 480px) {
    #footer {
        flex-wrap: wrap;
    }
}