/*LLAMADO A MEDIA QUERIES*/
@media  (max-width: 1100px){
    #mainFutbol {
        grid-template-areas: 
        "section1" 
        "section2" 
        "section3"
        "section4" 
        "section5"
        "section6" 
        "section7"
        "section8" 
        "section9";
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(9,1fr);
        .section1 {
            display: flex;
            align-items: center;
        }
    }
    }
/* RESPONSIVE PAG AUTOMOVILISMO */
@media (max-width: 750px) {
    #mainAuto {
        flex-wrap: wrap;
        flex-direction: column;
    }
    }

/* RESPONSIVE PAG INDEX */
    @media (max-width: 1500px) {
        #main {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .articleNoti1 {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .articleNoti2 {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }

        .articleNoti3 {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }

        .sectionNotiInicio {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
        }

        /* RESOINSIVE BASQUET */

        @media (max-width: 950px) {
            #mainBasquet {
                flex-wrap: wrap;
                flex-direction: column;
            }

            
        }

        @media (max-width: 1300px) {
            .noti1Basquet {
                flex-wrap: wrap;}
            .noti2Basquet {
                flex-wrap: wrap;
            }
            .section2Basquet {
                flex-wrap: wrap;
            }
            .section1Basquet {
                flex-wrap: wrap;
            }
        }



        /* RESPONSIVE TENIS */

/* Estilos para telas menores que 480px (celulares) */
@media (max-width: 480px) {
    .articleNoti1Tenis {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .articleNoti2Tenis {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}